div {
    width: 200px;
    height: 150px;
    background-color: rgb(50, 21, 177);
    text-align: center;
    display: inline-block;
    font-family: cursive;
    font-size: 2em;
    color: white;
    margin: 30px;
    border: 1px solid black;
    transition: 1s;
}

div:hover {
    transform: rotateX(160deg) translateX(120px) scaleX(2.5);
}